<h2> Mostrando </h2>
<div class="page-header">
	<iframe id = "iframe" style="width: 1000; height: 600;" src="" frameborder="0" height="600" scrolling="yes" width="700">cccc</iframe>
	<br>
	<%= link_to 'Ver cámara completa', '#',:class => 'btn btn-primary' %>
</div>